@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #e0e0e0;
    margin-top: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffff ;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 1px 18px rgb(146 161 176 / 15%);
    
}
h1{
    color: #FB9E9F;
}
input{
    display: flex;
    justify-content: center;
    width: 22vw;
    height: 6vh;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    box-shadow: 0 1px 18px rgb(146 161 176 / 15%);
    border: none;
    border-radius: 6px;
}
.btn{
    color: #F9FAFB;
    background-color: #FB9E9F;
    height: 5vh;
    width: 10vw;
    border: none;
    opacity: 4;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1.5rem;
}
.btn:hover{
    border: 2px solid #FB9E9F;
    color: #FB9E9F;
    background-color: white;
}
.answer{
    margin-bottom: 1rem;
}
.congrats{
    height: 20vh;
    width: 22vw;
    display: flex;
    justify-content: center;
    justify-self: center;
}
.hidden{
    display: none;
}
.sorry{
    height: 20vh;
    width: 22vw;
    display: flex;
    justify-content: center;
    justify-self: center;
}
.display{
    display: none;
}

@media (max-width:1000px) {
    body{
        padding:2.5rem;
        margin: 0;
    }
    .container{
        width: 100%;
        
    }
    h1{
    margin-top: 5rem;
    text-align: center;
    }
    h2{
        text-align: center;
    }
    .para{
        text-align: center;
    }
    input{
        width: 100%;
    }
    .btn{
        width: 60%;
    }
    .congrats{
      height: 20vh;
        width:66vw ;
    }
    .sorry{
        width: 66vw;
    }
}